html {
    height: 100%;
}

body {
    /* margin: 0;
    height: 100%; */
    margin: 0;
    background: #313639;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 25px;
}

button {
    font-family: 'VT323', monospace;
    background-color: #313639;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}

input {
    padding: 0;
    margin: 0;
}

.heading {
    height: 150px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-container {
    display: flex;
    gap: 75px;
}


.bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100px;
}
.settings-container {

    width: 800px;
    height: 200px;
    border: 1px solid snow;
    border-radius: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* border-top: 20px solid blue;
    border-left: 20px solid yellow; */
    
}


.grid-container {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-flow: row wrap;
    
}


.slider-container {
    color: black;
    display: flex;
    flex-flow: column;
}

.square {
    box-sizing: border-box;
    background-color: aliceblue;

    height: 25px;
    width: 25px;
}

.activated {
    transform: scale(1.1);
    background-color: aliceblue;
    border-color: aliceblue;
    box-shadow: 0 0 1rem aliceblue;
  }
  

.colored {
    padding: 0;
}